<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div *ngIf = "courses.length > 0; then coursesList else noCourses"></div>

<ng-template #coursesList> 
  List of courses
</ng-template>
<ng-template #noCourses>
  No courses showed
</ng-template>

<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden] = "courses.length > 0" >
  No courese showed
</div>

<br>
<br>

<ul class="nav nav-pills">
  <li [class.active] = "viewMode == 'map'"><a (click)="viewMode = 'map' ">Map View</a></li>
  <li [class.active] = "viewMode == 'list' " ><a (click)="viewMode = 'list' ">List View</a></li>
</ul>

<div [ngSwitch] = "viewMode">
  <div *ngSwitchCase="'map'">Map View Contnet</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

</div>


<button (click) = "onAdd()">Add</button>
<div>
  <ul>
    <li *ngFor = "let course of courses, index as i; trackBy: trackCourse">
        {{i+1}} : {{course.name}} <button (click) = "onRemove(course)">Remove</button>
    </li>
    
  </ul>
</div>
<button (click) = "onReset()">Reset</button>

<span
  class="glyphicon"
  [ngClass]=" {
    'glyphicon-star':isSelected,
    'glyphicon-star-empty': !isSelected
      }"
  (click) = "onClick()"
    >
</span>


<button
  [ngStyle] = "{
    'backgroundColor' : canSave ? 'green' : 'gray',
    'color' : canSave ? 'red' : 'white',
    'fontWeight' :canSave ? 'blod' : 'normal'
  }"

  (click) = "onClick()"
  >
 Save 
</button>

<input type="text" appInputFormat [format] = "'uppercase'">
<button (click) = "onCheck()">Change</button>